.footer {
  position: relative;
  padding: 120px 0 75px;
  overflow: hidden;
  @include media-breakpoint-down(lg) {
    padding: 80px 0 35px;
  }
  @include media-breakpoint-down(md) {
    padding: 40px 0;
    border-top: 1px solid #ccc;
  }
  &:before, &:after {
    z-index: 1;
    content: '';
    height: 100px;
    width: 100px;
    border-radius: 10px;
    position: absolute;
    top: -140px;
    box-shadow: 0 0 200px 30px rgba(0, 0, 0, .4);
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  &:before {
    left: -80px;
  }
  &:after {
    right: -80px;
  }

  .container {
    display: flex;
    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__contacts {
    margin-right: 100px;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-shrink: 0;
    @include media-breakpoint-down(md) {
      margin-right: 0;
      align-items: center;
      margin-bottom: 15px;
    }
  }
  &__title {
    display: none;
    font-family: 'MullerExtraBold', serif;
    font-size: 30px;
    @include media-breakpoint-down(md) {
      display: block;
    }
  }
  &__address {
    margin-bottom: 15px;
    display: none;
    font-family: 'MullerRegular', serif;
    font-size: 16px;
    @include media-breakpoint-down(md) {
      display: block;
    }
  }
  &__logo {
    margin-bottom: 20px;
    width: 153px;
    height: 102px;
    object-fit: contain;
  }
  &__phone {
    font-family: 'MullerExtraBold', serif;
    font-size: 24px;
    @include media-breakpoint-down(md) {
      font-size: 16px;
      line-height: 1.2;
    }
  }
  &__email {
    margin-bottom: 10px;
    font-family: 'MullerLight', serif;
    font-size: 18px;
    @include media-breakpoint-down(md) {
      margin: 15px 0;
      font-size: 16px;
    }
  }
  &__messanger {
    margin-top: auto;
    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }
    img {
      height: 43px;
      object-fit: contain;
    }
  }

  &__wrap {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 800px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  &__nav {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 800px) {
      display: none;
    }
    a {
      font-family: 'MullerMedium', serif;
      font-size: 16px;
      color: #262626;
      letter-spacing: 3.2px;
    }
  }
  &__items {
    margin: 0;
    margin-top: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    @media (max-width: 800px) {
      display: none;
    }
    li {
      position: relative;
      display: flex;
      align-items: center;
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
      &:before {
        content: '';
        display: block;
        margin-right: 5px;
        height: 3px;
        width: 3px;
        border-radius: 50%;
        background-color: #262626;
        opacity: 0.75;
      }
    }
    a {
      font-family: 'MullerLight', serif;
      font-size: 14px;
      opacity: 0.75;
      color: #262626;
    }
  }
  &__cards {
    align-self: flex-end;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    @media (max-width: 800px) {
      align-self: center;
      margin-bottom: 15px;
      order: 1;
    }
    &_title {
      font-family: 'MullerBold', serif;
      font-size: 16px;
      width: 100%;
      margin-bottom: 15px;
    }
    img {
      height: 29px;
      &:not(:last-of-type) {
        margin-right: 5px;
      }
    }
  }
  &__social {
    position: relative;
    display: flex;
    flex-direction: column;
    &_wrap {
      margin-top: auto;
      @media (max-width: 800px) {
        margin-bottom: 20px;
      }
    }
    &_title {
      font-family: 'MullerBold', serif;
      font-size: 16px;
      width: 100%;
      margin-bottom: 15px;
      @media (max-width: 800px) {
        max-width: 200px;
        margin: 0 auto 15px;
      }
    }
    img {
      height: 29px;
      width: 29px;
      object-fit: contain;
      &:not(:last-of-type) {
        margin-right: 10px;
      }
    }
  }
  &__request {
    font-family: 'MullerBold', serif;
    font-size: 16px;
    color: var(--yellow);
    width: 318px;
    height: 68px;
    border-radius: 33px;
    background-color: #242424;
    transition: .4s;
    border: none;
    @media (max-width: 800px) {
      padding: 0 30px;
      width: 200px;
      box-sizing: content-box;
      margin-bottom: 20px;
    }
    @include media-breakpoint-down(md) {
      box-shadow: -13px -8px 43px rgba(35, 35, 35, 0.15);
    }
    &:hover {
      box-shadow: -13px -8px 43px rgba(35, 35, 35, 0.15);
    }
  }
}
