.about {
  position: relative;
  overflow: hidden;
  padding-top: 80px;
  background: url(../img/mountains-bg.png) no-repeat right 60%;
  padding-bottom: 45px;
  @include media-breakpoint-down(lg) {
    padding-bottom: 25px;
  }
  @include media-breakpoint-down(md) {
    padding-top: 31px;
    text-align: center;
  }
  @include media-breakpoint-down(xs) {
    background: none;
  }

  .container {
    position: relative;
  }

  &__dots {
    position: absolute;
    top: 3px;
    left: 98%;
    width: 1000px;
    height: 281px;
    background: url("./../img/dots.png") center center;
    background-size: contain;
    opacity: 0.3;
    @include media-breakpoint-down(lg) {
      left: 1024px;
    }
  }

  &__title {
    margin-bottom: 0;
    padding-bottom: 40px;
    font-family: 'MullerExtraBold', serif;
    font-size: 60px;
    letter-spacing: 1.5px;
    @include media-breakpoint-down(md) {
      font-size: 30px;
      padding-bottom: 23px;
    }
    span {
      display: block;
      font-family: 'MullerRegular', serif;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 2.6px;
      @include media-breakpoint-down(md) {
        font-size: 14px;
        margin-top: -3px;
        line-height: 1.3;
        letter-spacing: 1.4px;
      }
    }
    strong {
      font-family: 'MullerExtraBold', serif;
    }
  }
  &__desc {
    margin-bottom: 76px;
    max-width: 940px;
    font-family: 'MullerLight', serif;
    font-size: 24px;
    letter-spacing: 1.3px;
    line-height: 35px;
    @include media-breakpoint-down(md) {
      font-size: 14px;
      letter-spacing: 0.7px;
      line-height: 15px;
      margin-bottom: 20px;
    }
    strong {
      font-family: 'MullerExtraBold', serif;
    }
  }

  &__skills {
    display: grid;
    grid-template: 'a a a a b b b b'
                   'c c c c d d d d'
                   'e e e e e e e e'
                   'f f f f f f f f'
                   'g g g h h h h h'
                   'i i i i i i i i'
                   'j j j j j j j j'
                   'k k k k k k k k';
    @include media-breakpoint-down(lg) {
      grid-template: 'a a a a a b b b'
                    'c c c c c c c c'
                    'd d d d d d d d'
                    'e e e e e e e e'
                    'f f f f f f f f'
                    'g g g h h h h h'
                    'i i i i i i i i'
                    'j j j j j j j j'
                    'k k k k k k k k';
    }
    @include media-breakpoint-down(md) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &_title {
      margin-bottom: 30px;
      font-family: 'MullerExtraBold', serif;
      font-size: 28px;
      letter-spacing: 1.6px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 20px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 14px;
        font-size: 22px;
        letter-spacing: 1px;
        line-height: 1;
        font-style: italic;
        text-align: center;
      }
    }
    &_block {
      margin-bottom: 55px;
      $list: a b c d e f g h i j k;
      @each $letter in $list {
        $i: index($list, $letter);
        &:nth-of-type(#{$i}) {
          grid-area: $letter;
        }
      }
      @include media-breakpoint-down(lg) {
        margin-bottom: 60px;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 15px;
      }
    }
  }
  &__brands {
    display: flex;
    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
    }
  }
  &__brand {
    max-width: 180px;
    text-align: center;
    font-family: 'MullerMedium', serif;
    font-size: 18px;
    @include media-breakpoint-down(md) {
      padding: 0 10px;
      font-size: 14px;
      letter-spacing: 0.9px;
    }
    @include media-breakpoint-down(xs) {
      min-width: 33%;
    }
    &:not(:last-of-type) {
      margin-right: 40px;
      @include media-breakpoint-down(md) {
        margin-right: 0;
      }
    }

    img {
      margin-bottom: 18px;
      height: 55px;
      max-width: 120px;
      object-fit: contain;
      @include media-breakpoint-down(md) {
        height: 40px;
        margin-bottom: 13px;
      }
    }
  }
}
