@import "_color-var";
@import "_libs";
@import "_mixins/mixins";
@import "_fonts";
@import "_header";
@import "_footer";
@import "_menu";
@import "_about";
@import "_order";
@import "_reviews";
@import "_stages";
@import "_rock";
@import "_guarantee";
@import "_clients";
@import "_projects";
@import "_modal";
@import "_cost-services";

::placeholder {
  color: #666;
}

::selection {
  background-color: var(--yellow);
  color: #fff;
}

body {
  font-size: rem(20);
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: $default-font;
  overflow-x: hidden;
  color: $text;
  @include custom-scroll-bar();
  input, textarea {
    border: #666 1px solid;
    outline: none;
    &:focus:required:invalid {
      border-color: red;
    }
    &:required:valid {
      border-color: green;
    }
  }
}
b, strong {
  font-weight: bold;
}
a:hover{
  text-decoration: none;
}
button {
  cursor: pointer;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  &.img-width {
    width: 100%;
  }
}
.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background: rgba(0, 0, 0, .6);
  .overlay_active & {
    display: block;
  }
}
.overlay_active {
  position: relative;
  overflow: hidden;
}



@import "media"; // Always at the end
